body {
  height: auto;
  overflow-x: hidden;
}

section {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
    margin-left: 0;
}

.section_tuto{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.videoContainer_tuto{
    position: relative;
     width: 505px;
     margin-left: 20px;
}


.video_all a{
    text-decoration: none;
}

.video_all a:visited{
    text-decoration: none;
    color: black;
}


.video_all{
    height: 100%;
    width: 20%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

.video_all h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 15px;
    font-size: 25px;
    color: #FFF;
}

.video_all img{
    height: 150px;
    margin-bottom: 10px;
    z-index: 0;
}

.video_miniature .mask{
    position: absolute;
    opacity: 0;
    margin-top: -162px;
    background-color: rgba(58, 1, 132, 0.44);
    transition: all 0.5s ease-in-out;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;

}

.video_miniature:hover .mask{
    opacity: 1;


}

.video_miniature:visited .mask{
    text-decoration: none;

}

.video_miniature .fa-3x{
    text-align: center;
    color: aqua;
    width: 150px;


}
