@import url('https://fonts.googleapis.com/css?family=Quicksand');
@font-face {
    font-family: "Chocoleta";
    src: url("../font/chocoleta.ttf");
}

body {
    width: 100vw;
    height: 100vh;
    background: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    display: flex;
    font-family: 'Quicksand', sans-serif;
}

header {
    width: 20vw;
}

main {
    display: flex;
    flex-direction: column;
    width: 80vw;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 300px;
    margin-top: 20vh;
    font-family: 'Chocoleta';
    justify-content: space-around;
    width: 100%;
}

li a {
    color: #FFF;
    text-decoration: none;
    width: 200px;
    height: 50px;
    display: block;
    line-height: 60px;
    font-size: 20pt;
}


/************** COULEUR DU MENU ****************/

li a.titre_menu_accueil {
    background-color: rgba(155, 217, 219, 0.8);
}

li a.titre_menu_actualite {
    background-color: rgba(186, 122, 245, 0.8);
}

li a.titre_menu_vid {
    background-color: rgba(79, 111, 171, 0.8);
}

li a.titre_menu_contact {
    background-color: rgba(255, 175, 90, 0.8);
}

.logo {
    background-image: url(../img/O.png);
    width: 30px;
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    float: left;
    background-size: cover;
}

.active {
    width: 250px;
}

.logo_active {
    margin-right: 100px;
}

.titrePage {
    display: block;
    background-color: #c9a454;
    width: 300px;
    height: 75px;
    margin-left: auto;
    margin-top: 50px;
    line-height: 85px;
    font-size: 35pt;
    font-family: 'Chocoleta';
}

.titrePage .logo {
    margin: 0;
    height: 60px;
    width: 50px;
    margin-top: 8px;
    margin-left: 20px;
    margin-right: 20px;
}

.titrePage img {
    margin-top: 7px;
    height: 60px;
    width: 180px;
}

section {
    width: 75vw;
    margin-left: 4vw;
    display: flex;
    justify-content: space-around;
    height: 90vh;
}

.videoContainer {
    width: 505px;
    height: 100%;
    margin: 50px 0 0 0;
}

.nextEvent {
    border: 5px solid #FFFFFF;
    margin: 50px auto;
    padding: 0;
    width: 450px;
    height: 600px;
}

.prochainement {
    width: 450px;
    background-color: rgba(0, 0, 0, .8);
    height: 50px;
    line-height: 50px;
    position: absolute;
    top: 730px;
}

.prochainement p {
    color: aliceblue;
    font-family: 'Quicksand';
    font-size: 20pt;
    text-align: center;
}

.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.slide {
    margin: 0;
    padding: 0;
}

.slide img {
    width: 450px;
    height: 600px;
}

.CGU {
    display: block;
    margin-left: auto;
    margin-bottom: 40px;
    text-align: center;
    color: #FFF;
    background: rgba(0, 0, 0, .8);
    height: 50px;
    line-height: 50px;
    width: 60px;
}

.description {
    background: rgba(0, 0, 0, .8);
    color: aliceblue;
    padding: 2em;
    margin-top: 20px;
    height: 200px;
    font-family: 'Quicksand';
}

@media screen and (max-width: 1030px) {
    section {
        width: 100vw;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: auto;
    }
    .nextEvent {
        display: none;
    }
    body {
        height: auto;
    }
    ul {
        margin-top: 0;
        width: 60vw;
        height: 140px;
        flex-wrap: wrap;
    }
    .active {
        width: 200px;
    }
    .logo_active {
        margin-right: 20px;
    }
    header {
        position: absolute;
    }
    main {
        width: 100vw;
    }
    .videoContainer {
      margin: 150px auto 50px auto;
    }
}
