body{
    overflow-x:hidden;
    
}



.titrePage {
    display: block;
    background-color: #c9a454;
    width: 300px;
    height: 75px;
    margin-left: auto;
    margin-top: 50px;
    line-height: 75px;
    font-size: 35pt;
}

.titrePage .logo {
    margin: 0;
    height: 60px;
    width: 50px;
    margin-top: 8px;
    margin-left: 20px;
    margin-right: 40px;
}



.titrePage h1{
    font-size: 35px;
}

section{
    width: 88%;
    
    display: flex;
    flex-direction: row;
    margin-left: 0;
    margin-top: 30px;
    
    
    
}

.colonne{
    display: flex;
    flex-direction:column;
    width: 100%;
   
}

.event{
    position: relative;
    padding-bottom: 30px;
}



.event .texte_page{
    position: absolute;
    color: #FFF;
    width: 90%;
    height: 50px;
    background: rgba(0,0,0,0.7);
    margin-top: -50px;
    transition: 0.5s;
    z-index: 12;
    overflow: hidden;
}

.event .texte_page h2{
    padding-left: 10px;
    padding-top: 8px;
}



.event:hover .texte_page{
    margin-top: -150px;
    height: 150px;
    transition: 0.5s;
    
    z-index: 12;
}

.event img{
   box-shadow: 0px 5px 8px 2px rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 90%;
}

.CGU_section{
    width: 7.5%;
    margin-left: auto;
    margin-top: 400px;
    
}

.CGU_event{
    position: fixed;
    margin-left: auto;
    margin-right: 17px;
    
    
   
    margin-bottom: 40px;
    
    text-align: center;
    color: #FFF;
    
   background: #444445;
    height: 50px;
    line-height: 50px;
    width: 60px;
}
