@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
    width: 100vw;
    height: 100vh;
    background-color: #FFF;
    display: flex;
    font-family: 'Quicksand', sans-serif;
}

header {
    width: 20vw;
}

main {
    display: flex;
    flex-direction: column;
    width: 80vw;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 300px;
    margin-top: 20vh;
    font-family: 'Quicksand', sans-serif;
    justify-content: space-around;
    width: 100%;
}



li a {
    
    color: #FFF;
    text-decoration: none;
    width: 200px;
    height: 50px;
    display: block;
    line-height: 50px;
    font-size: 18pt;
}

/************** COULEUR DU MENU ****************/

li a.titre_menu_accueil{
    background-color: #9bd9db;
}

li a.titre_menu_actualite{
    background-color: #ba7af5;
}

li a.titre_menu_vid{
    background-color: #4f6fab;
}

li a.titre_menu_contact{
    background-color: #ffaf5a;
}



.logo{
    background-image: url(../img/O.png);
    width: 30px;
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    float:left;
    background-size: cover;
}




.active{
    width: 250px;
    
}

.logo_active{
    margin-right: 100px;
}




.titrePage {
    display: block;
    background-color: #c9a454;
    width: 300px;
    height: 75px;
    margin-left: auto;
    margin-top: 50px;
    line-height: 75px;
    font-size: 35pt;
}

.titrePage .logo {
    margin: 0;
    height: 60px;
    width: 50px;
    margin-top: 8px;
    margin-left: 20px;
    margin-right: 40px;
}

section {
    width: 75vw;
    margin-left: 4vw;
    display: flex;
    justify-content: space-around;
    height: 80vh;
}

.videoContainer {
    width: 45%;
    height: 100%;
}

video {
    width: 100%;
    height: 45%;
    margin-bottom: 20px;
}

.agenda {
    width: 45%;
    height: 100%;
}

.CGU{
    display: block;
    margin-left: auto;
    margin-bottom: 40px;
    
    text-align: center;
    color: #FFF;
    
   background: #444445;
    height: 50px;
    line-height: 50px;
    width: 60px;
}
